# This file is for configuration settings for your
# application.
#
# The syntax is similar to windows .ini files ie
#
# [GroupName]
# Setting = Value
#
# Which can be read by your application using
#  e.g s3eConfigGetString("GroupName", "Setting", string)
#
# All settings must be documented in .config.txt files.
# New settings specific to this application should be
# documented in app.config.txt
#
# Some conditional operations are also permitted, see the
# S3E documentation for details.
[S3E]
Memsize0=5000000
# These lines specify a splash screen to display while the s3e file is loaded
SplashscreenBkR=255
SplashscreenBkG=255
SplashscreenBkB=255
#Splashscreen=splash.jpg
SplashscreenWidth=160
SplashscreenHeight=100

SysStackSize=1000000
#ErrorTrace=3
#APITrace=1
[GX]
DataCacheSize=48000

[Trace]
#All=1
SOCKET_VERBOSE=1
CALLBACKS_VERBOSE=1
IWCRT=1
SOCKET=1
S3E=1
CORE=1
FILE=0